@model GeoProfs.Models.Verlof

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Verlof aanvraag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RedenVerlof" class="control-label"></label>
                <select class="form-control" id="verlof">
                    <option value="Select an option">Select an option...</option>
                    <option value="Ziek">Ziek</option>
                    <option value="Vakantie">Vakantie</option>
                    <option value="Begrafenis">Begrafenis</option>
                    <option value="Bruiloft">Bruiloft</option>
                    <option value="Medisch">Medisch</option>
                    <option value="Anders...">Anders...</option>
                </select>
                <span asp-validation-for="RedenVerlof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDatum" class="control-label"></label>
                <input asp-for="StartDatum" class="form-control" />
                <span asp-validation-for="StartDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EindDatum" class="control-label"></label>
                <input asp-for="EindDatum" class="form-control" />
                <span asp-validation-for="EindDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
