@model GeoProfs.Models.Verlof

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Verlof</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RedenVerlof" class="control-label"></label>
                <input asp-for="RedenVerlof" class="form-control" />
                <span asp-validation-for="RedenVerlof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrenGebruikt" class="control-label"></label>
                <input asp-for="UrenGebruikt" class="form-control" />
                <span asp-validation-for="UrenGebruikt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrenOver" class="control-label"></label>
                <input asp-for="UrenOver" class="form-control" />
                <span asp-validation-for="UrenOver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afdeling" class="control-label"></label>
                <input asp-for="Afdeling" class="form-control" />
                <span asp-validation-for="Afdeling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}