@{
    ViewData["Title"] = "Verlof Page";
}

<div class="text-center">
    <h1>HR:</h1>
    <div class="text-center">
        <h3>Managers:</h3>
        <p>Afwezig:</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Naam werknemer</th>
                    <th scope="col">Begin datum</th>
                    <th scope="col">Eind datum</th>
                    <th scope="col">Reden</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <th scope="row">frank</th>
                    <td>01-01-2021</td>
                    <td>01-01-2021</td>
                    <td>Vakantie</td>
                    <td>Goedgekeurd</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">freek</th>
                    <td>01-01-2021</td>
                    <td>01-01-2021</td>
                    <td>Vakantie</td>
                    <td>in afwachting</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">ferdinand</th>
                    <td>01-01-2021</td>
                    <td>01-01-2021</td>
                    <td>medisch</td>
                    <td>Afgewezen</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <h1>Administartie:</h1>
        <div class="text-center">
            <h3>Managers:</h3>
            <p>Afwezig:</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Naam werknemer</th>
                        <th scope="col">Begin datum</th>
                        <th scope="col">Eind datum</th>
                        <th scope="col">Reden</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <th scope="row">frank</th>
                        <td>01-01-2021</td>
                        <td>01-01-2021</td>
                        <td>Vakantie</td>
                        <td>Goedgekeurd</td>
                    </tr>
                    <tr class="table-warning">
                        <th scope="row">freek</th>
                        <td>01-01-2021</td>
                        <td>01-01-2021</td>
                        <td>Vakantie</td>
                        <td>in afwachting</td>
                    </tr>
                    <tr class="table-danger">
                        <th scope="row">ferdinand</th>
                        <td>01-01-2021</td>
                        <td>01-01-2021</td>
                        <td>medisch</td>
                        <td>Afgewezen</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <h1>Schoonmaak:</h1>
            <div class="text-center">
                <h3>Managers:</h3>
                <p>Afwezig:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Naam werknemer</th>
                            <th scope="col">Begin datum</th>
                            <th scope="col">Eind datum</th>
                            <th scope="col">Reden</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-success">
                            <th scope="row">frank</th>
                            <td>01-01-2021</td>
                            <td>01-01-2021</td>
                            <td>Vakantie</td>
                            <td>Goedgekeurd</td>
                        </tr>
                        <tr class="table-warning">
                            <th scope="row">freek</th>
                            <td>01-01-2021</td>
                            <td>01-01-2021</td>
                            <td>Vakantie</td>
                            <td>in afwachting</td>
                        </tr>
                        <tr class="table-danger">
                            <th scope="row">ferdinand</th>
                            <td>01-01-2021</td>
                            <td>01-01-2021</td>
                            <td>medisch</td>
                            <td>Afgewezen</td>
                        </tr>
                    </tbody>
                </table>
            </div>
