@{
    ViewData["Title"] = "Verlof Page";
}

<div class="text-center">
    <h1>Managers:</h1>
    <p>Afwezig:</p>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th scope="col">Naam werknemer</th>
                <th scope="col">Begin datum</th>
                <th scope="col">Eind datum</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr class="my-4">
                <th scope="row">frank</th>
                <td class="mx-4">01-01-2021</td>
                <td>01-01-2021</td>
                <td class="mx-4">Goedgekeurd</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">freek</th>
                <td>01-01-2021</td>
                <td>01-01-2021</td>
                <td>in afwachting</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">ferdinand</th>
                <td>01-01-2021</td>
                <td>01-01-2021</td>
                <td>Afgewezen</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center">
    <h1>Medewerkers:</h1>
    <p>Afwezig:</p>
    <table class="min-w-full divide-y divide-gray-200">
        <thead>
            <tr>
                <th scope="col">Naam werknemer</th>
                <th scope="col">Begin datum</th>
                <th scope="col">Eind datum</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr class="my-4">
                <th scope="row">frank</th>
                <td class="mx-4">01-01-2021</td>
                <td>01-01-2021</td>
                <td class="mx-4">Goedgekeurd</td>
            </tr>
            <tr class="table-warning">
                <th scope="row">freek</th>
                <td>01-01-2021</td>
                <td>01-01-2021</td>
                <td>in afwachting</td>
            </tr>
            <tr class="table-danger">
                <th scope="row">ferdinand</th>
                <td>01-01-2021</td>
                <td>01-01-2021</td>
                <td>Afgewezen</td>
            </tr>
        </tbody>
    </table>
</div>