@{
    GeoProfs.Models.FakeIdentity fakeIdentity = new GeoProfs.Models.FakeIdentity();
    List<GeoProfs.Models.FakeIdentity.Medewerker> medewerkers = fakeIdentity.GetMedewerkers();
}
<div id="medewerkerTable">
    <h3>Welkom Freek, Medewerker</h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="index">logout</a>
    <a href="/Verlofs"> Verlof aanvragen </a>
    <br />
    <table class="table">
        <tr>
            <th>Naam</th>
            <th>Functie</th>
            <th>Afwezig</th>
            <th>Medewerker Nummer</th>
        </tr>
        @foreach (var medewerker in medewerkers.Where(m => m.Functie == "Medewerker").OrderByDescending(m => m.IsAfwezig))
        {
            <tr>
                <td>@medewerker.Naam</td>
                <td>@medewerker.Functie</td>
                <td>@(medewerker.IsAfwezig ? "Afwezig" : "Aanwezig")</td>
                <td>@medewerker.MedewerkerId</td>
            </tr>
        }
    </table>
    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Beschikbaar', 11],
                    ['Gebruikt', 2],
                ]);

                var options = {
                    title: 'Uren overzicht'
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </body>
</html>

</div>