@{
    ViewData["Title"] = "Verlof";
}

@*verlof uren beschikbaar*@
<div class="uren">
    <h3>
        Uren gebruikt: 9 @*Model.VerlofurenGebruikt*@
    </h3>
    <h3>
        Uren beschikbaar: 20 @*@Model.VerlofurenBeschikbaar*@
    </h3>
    <div id="piechart_3d" style="width: 900px; height: 500px;">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            //Uren van de werknemer
            //MOET INFO UIT DE DATABASE HALEN IN DE TOEKOMST
            usedHours = 9;
            availableHours = 20;
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['beschikbare uren', availableHours],
                    ['gebruikte uren', usedHours],
                ]);
                var options = {
                    is3D: true,
                };
                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                chart.draw(data, options);
            }
        </script>
    </div>
</div>

@model List<User>
<div class="Aanwezig">
<h5>Schoonmakers</h5>
    @if (Model != null)
    {
        <table>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Aanwezig</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Department</td>
                    <td>@(user.Aanwezig ? "Yes" : "No")</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No data available.</p>
    }
</div>
