@{
    ViewData["Title"] = "Verlof";
}

<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="float">
        <h2>Verlof aanvragen</h2>
        <button type="button" class="btn btn-primary float float-right" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
            Verlof aanvragen
        </button>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Verlof aanvragen</h5>
                        <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close" onclick="closeForm()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="verlofForm" action="post">
                            <div class="form-group">
                                <label for="verlof" class="col-form-label">Reden van verlof</label>
                                <select class="form-control" id="verlof">
                                    <option value="Select an option">Select an option...</option>
                                    <option value="Ziek">Ziek</option>
                                    <option value="Vakantie">Vakantie</option>
                                    <option value="Begrafenis">Begrafenis</option>
                                    <option value="Bruiloft">Bruiloft</option>
                                    <option value="Medisch">Medisch</option>
                                    <option value="Anders...">Anders...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Beschrijving</label>
                                <textarea class="form-control" id="message-text" maxlength="200"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="start" class="col-form-label">Start datum</label>
                                <input type="date" class="form-control" id="start" name="startdate" placeholder="Start datum" />
                            </div>
                            <div class="form-group">
                                <label for="end" class="col-form-label">Eind datum</label>
                                <input type="date" class="form-control" id="end" name="enddate" placeholder="Eind datum" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="resetForm()">Reset input</button>
                        <button type="button" class="btn btn-success" onclick="submitForm()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function resetForm() {
            document.getElementById("verlofForm").reset();
        }
    </script>

    <head>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>

    @* Afwezigheid tabel *@
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Naam werknemer</th>
                    <th scope="col">Begin datum</th>
                    <th scope="col">Eind datum</th>
                    <th scope="col">Reden</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <th scope="row">frank</th>
                    <td>01-01-2021</td>
                    <td>01-01-2021</td>
                    <td>Vakantie</td>
                    <td>Goedgekeurd</td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">freek</th>
                    <td>01-01-2021</td>
                    <td>01-01-2021</td>
                    <td>Vakantie</td>
                    <td>in afwachting</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">ferdinand</th>
                    <td>01-01-2021</td>
                    <td>01-01-2021</td>
                    <td>medisch</td>
                    <td>Afgewezen</td>
                </tr>
            </tbody>
        </table>
    </div>
  
  @model List<User>
<div class="Aanwezig">
<h5>Schoonmakers</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Naam werknemer</th>
                    <th scope="col">Begin tijd</th>
                    <th scope="col">Eind tijd</th>
                    <th scope="col">Status</th>
                    <th scope="col">Bijzonderheden</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <th scope="row">Frank</th>
                    <td>09:00</td>
                    <td>18:00</td>
                    <td>Aanwezig</td>
                    <td></td>
                </tr>
                <tr class="table-success">
                    <th scope="row">Freek</th>
                    <td>10:00</td>
                    <td>21:00</td>
                    <td>Aanwezig</td>
                    <td></td>
                </tr>
                <tr class="table-warning">
                    <th scope="row">Ferdinand</th>
                    <td>21:00</td>
                    <td>07:00</td>
                    <td>Afgewezen</td>
                    <td>Nachtdienst</td>
                </tr>
                <tr class="table-danger">
                    <th scope="row">Manderijn</th>
                    <td>11:00</td>
                    <td>20:00</td>
                    <td>Afgewezen</td>
                    <td>Niet opkomen dagen</td>
                </tr>
            </tbody>
        </table>

    }
    else
    {
        <p>No data available</p>
    }


</div>
</body>
</html>
